---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="h-screen p-8 flex flex-col gap-12 items-center justify-center">
		<section class="flex flex-col gap-8 items-center">
			<div class="inline-flex gap-8 items-center">
				<iconify-icon icon="logos:astro-icon" height="64"></iconify-icon>
				<iconify-icon icon="tabler:plus" width="40"></iconify-icon>
				<iconify-icon icon="logos:cloudflare-icon" width="80"></iconify-icon>
			</div>
			<h1 class="text-4xl font-bold">Astro Cloudflare</h1>
		</section>
		<section class="flex flex-col gap-6 items-center">
			<h2 class="text-2xl font-medium">
				Check the links bellow to see Page Functions in action
			</h2>
			<a class="btn btn-primary" href="/api/hello" target="_fn">
				Function from `root/src/api/hello`</a
			>
			<a class="btn btn-primary" href="/fn/hello" target="_fn">
				Function from `root/functions/fn/hello`
			</a>
		</section>
	</main>
</Layout>
